.banner{
    background-image: url(../images/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-text{
        font-family: "Bank";
        font-size: 40px;
        width: 60%;
    }
    &-about{
        font-family: "Manrope";
        font-weight: 400;
        font-size: 20px;
    }
}

@media (max-width: 992px){
    .banner{

    padding: 10%;
    
    gap: 20px;
    &-text{
        font-family: "Bank";
        font-size: 30px;
        width: 60%;
    }
    &-about{
        font-family: "Manrope";
        font-weight: 400;
        font-size: 16px;
    }
}
}



@media (max-width: 567px){
    .banner{

    padding: 5%;
    
    gap: 20px;
    &-text{
        font-family: "Bank";
        font-size: 20px;
        width: 100%;
    }
    &-about{
        font-family: "Manrope";
        font-weight: 400;
        font-size: 16px;
    }
}
}