.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    &-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    &-content {
        position: relative;
        background: #fff;
        padding: 30px;
        border-radius: 12px;
        max-width: 420px;
        width: 90%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-str {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    &-close {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &-title {
        font-family: "Manrope";
        font-weight: 500;
        font-size: 20px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-btn {
        background-color: var(--color-purp);
        color: white;
        width: max-content;
        padding: 10px;
        font-family: "Manrope";
        font-weight: 400;
        cursor: pointer;
        border: none;
    }
    #text{
        border: none;
        background-color: var(--grey);
        height: 50px;
        font-family: "Manrope";
        font-weight: 400;
        font-size: 20px;
    }
    #tel{
        border: none;
        background-color: var(--grey);
        height: 50px;
        font-family: "Manrope";
        font-weight: 400;
        font-size: 20px;
    }
    label{
        font-family: "Manrope";
        font-weight: 400;
        font-size: 20px;
    }
}