.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    &-title {
        font-family: "Bank";
        font-size: 24px;
        text-align: center;
    }

    &-cards {
        display: flex;

        &-one {
            font-family: "Manrope";
            display: flex;
            height: 40vh;
            flex-direction: column;
            width: 25%;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease-in-out;

            &.aa {
                background-image: url(../images/proj1.webp);
            }

            &.bb {
                background-image: url(../images/proj2.webp);
            }

            &.cc {
                background-image: url(../images/proj3.webp);
            }

            &.dd {
                background-image: url(../images/proj4.webp);
            }

            &-t {
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: 20px;
                opacity: 0;
                height: 40vh;
                width: 100%;
                background-color: var(--color-proz);
                cursor: pointer;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &:hover {
                transform: translateY(-5px);
            }

            &:hover &-t {
                opacity: 1;
            }
        }
    }

    &-btn {
        display: flex;
        justify-content: center;

        &-btns {
            background-color: var(--color-purp);
            color: white;
            width: max-content;
            padding: 10px;
            font-family: "Manrope";
            font-weight: 400;
            cursor: pointer;
            transition: .3s;
            &:hover{
        background-color: var(--color-proz);
    }

        }
    }
}

@media (max-width: 1440px) {
    .project {
        gap: 20px;
        margin-bottom: 40px;

        &-cards {
            
            &-one {
                height: 30vh;
                width: 25%;

                &-t {
                    font-size: 20px;
                    height: 30vh;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .project {
        gap: 20px;
        margin-bottom: 40px;

        &-cards {
            flex-wrap: wrap;
            &-one {
                height: 30vh;
                width: 50%;

                &-t {
                    font-size: 20px;
                    height: 30vh;
                }
            }
        }
    }
}

@media (max-width: 567px) {
    .project {
        gap: 20px;
        margin-bottom: 40px;

        &-cards {
            flex-wrap: wrap;
            &-one {
                height: 20vh;
                width: 50%;

                &-t {
                    padding: 5%;
                    font-size: 16px;
                    height: 20vh;
                }
            }
        }
    }
}