// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// *{
//   background: var(--bg);
//   color: var(--text);
  
// }

header {
  background: var(--bg);
  color: var(--text);
}
body{
  background: var(--bg);
  color: var(--text);

}
main{
  background: var(--bg);
  color: var(--text);
}
footer{
  background: var(--bg);
  color: var(--text);
}