<div class="about">
    <div class="about-r">
        <div class="about-title">IT-компания "КУСКЕЙП"</div>

        <p class="about-text"><br>Мы разрабатываем высоконагруженные экосистемы для бизнеса и государства: корпоративные
            сайты,
            интернет-магазины, порталы и мобильные приложения, которые масштабируются вместе с вашим бизнесом.</p>
        <p class="about-text"><br>Технологии, которым мы доверяем свои проекты:JavaScript, PHP, ReactNative, Flutter,
            Laravel Framework, Bitrix
            D7 Framework, SWIFT, KOTLIN, GIT, Docker.</p>

    </div>
    <div class="about-pick"></div>
</div>