<div class="project">
    <div class="project-title">
         Наши проекты
    </div>
    <div class="project-cards">
        <div class="project-cards-one aa">
            <div class="project-cards-one-t">Создание корпоративного сайта "Pedolymp"</div>
        </div>
        <div class="project-cards-one bb">
            <div class="project-cards-one-t">Создание корпоративного сайта "Ricci"</div>
            
        </div>
        <div class="project-cards-one cc">
            <div class="project-cards-one-t">Создание интернет-магазина "Parfum Paradise"</div>
            
        </div>
        <div class="project-cards-one dd">
            <div class="project-cards-one-t">Создание корпоративного сайта "Танзор"</div>
        </div>
    </div>
    <div class="project-btn">
        <div class="project-btn-btns">перейти в портфолио</div>
    </div>
</div>
