
<div class="why">
    <div class="why-title">
       Почему именно мы
    </div>
    <div class="why-cards">
        <div class="why-cards-one">
            <div class="why-cards-one-t">Гибкая структура</div>
            <div class="why-cards-one-text">
                Сайт легко масштабируется: можно добавить новые страницы, модули и функционал без сложностей и лишних
                затрат.
            </div>
        </div>
        <div class="why-cards-one">
            <div class="why-cards-one-t">Тщательная доработка</div>
            <div class="why-cards-one-text">Каждый проект проходит тестирование и оптимизацию — устраняем даже мелкие
                ошибки, улучшаем удобство и скорость.
            </div>
        </div>
        <div class="why-cards-one">
            <div class="why-cards-one-t">Гибкая структура</div>
            <div class="why-cards-one-text">Убираем лишнее и оставляем только элементы, которые реально влияют: понятная
                навигация и адаптивный интерфейс.
            </div>
        </div>
        <div class="why-cards-one">
            <div class="why-cards-one-t">Адаптивность</div>
            <div class="why-cards-one-text">Сайт корректно работает на любых устройствах и быстро загружается —
                соответствует требованиям пользователей.
            </div>
        </div>
    </div>
</div>